{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "css",
    "singleAttributePerLine": false,
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        },
        {
            "files": ["*.json", "*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
